**/node_modules
docs
examples
server/test

client/test
client/lib/
client/build
client/dist

**/README.md
docker-compose.yml

**/rethinkdb_data_test
**/rethinkdb_data/

**/*.log
.#*
**/*-key.pem
**/*-cert.pem

**/.DS_Store

.hz/
config.toml
Dockerfile*
.git
