client/lib/
rethinkdb_data_test
rethinkdb_data/
**/*.log
.#*
**/*-key.pem
**/*-cert.pem
node_modules/
**/.DS_Store
.hz/
config.toml
**/.vscode
**/.*.swp

**/dist/

# RethinkDB stuff
**/rethinkdb_data/
**/rethinkdb_data_test/
