// main: main.styl

color-bg = white

/* My original colors
color-collections = #FA7252
color-requests =  #58AFC0
color-clients = #756BB1
color-time = #61B2A7
*/

// Annie's updated colors
color-collections = #F7AB84
color-requests = #EC6E7E //#60B2C3
color-clients = #60B2C3 //#9AA8D3
color-time = #61B2A7

color-grey = #BCBCBC
color-grey-line = #DCDCDC
color-grey-text = #B2B2B2
color-red-highlight = #EC6E7E

.collections {background: color-collections}
.requests {background: color-requests}
.clients {background: color-clients}
.timestamp {background: color-time}

.collections-fg {color: color-collections}
.requests-fg {color: color-requests}
.clients-fg {color: color-clients}

// Annie's udpated colors
color-store = #60B2C3
color-subscribe = #A8DEE1
color-remove = #EC6E7E
color-query = #9AA8D3

/* My original colors
color-store = #1f8267
color-subscribe = #2690A0
color-remove = #96283a
color-query = #536878
*/

/* My alternate colors
color-subscribe = #2690A0
color-store = #31A354
color-query = #3182BD
color-remove = #c52115
*/

.query {background: color-query}
.subscribe {background: color-subscribe}
.store {background: color-store}
.remove {background: color-remove}

.icon-query
  &:before {content: "\f260"}

.icon-subscribe
  &:before {content: "\f492"}

.icon-store
  &:before {content: "\f418"}

.icon-remove
  &:before {content: "\f4c5"}
