@import "colors"

.tile
  display inline-block
  color white
  border-radius 5px
  min-width 150px
  font-size 24px
  font-weight 100

  .content
    padding 5px 10px

  .inner
    border-left 8px solid rgba(255, 255, 255, 0.5)

  .value
    display inline-block
    vertical-align: middle;

  .caption
    padding 5px
    font-size 14px
    font-weight normal
    background rgba(255, 255, 255, 0.2)
    text-align right

  .icon
    display inline-block
    color rgba(255, 255, 255, 0.5)
    vertical-align: middle;
    font-size 24px
    width 35px

.box
  .title
    padding 6px 
    border-radius 3px
    border-left 5px solid rgba(255, 255, 255, 0.5)
    color white

    h2
      margin 0 5px
      font-size 18px
      font-weight 100
      letter-spacing 0.8px

    .icon
      font-size 18px

.token
  padding 7px 12px
  border-left: 5px solid rgba(255, 255, 255, 0.5)
  text-transform: uppercase;
  color white

  i, .text { vertical-align: middle; }

.inline
  display inline
