// out: ../../dist/main.css

@import "components"
@import "graph"
@import "colors"

body
  margin 0
  font-family "Source Sans Pro"
  font-size 14px
  background white

#app
  display flex
  flex-direction column
  min-height 100vh
  
main
  margin auto
  flex-grow 1
  width 100%
  max-width 900px

footer
  height 216px
  opacity 0.3
  background url('/images/fg-mountains.png') center 
  
header
  display flex
  
  nav
    display flex
    flex-grow 1 
    justify-content flex-end
    align-items center
    
    div
      display inline-block
      margin-left 20px
      font-size 18px
      padding-bottom 5px
      border-bottom 2px solid white
      
      a
        color color-grey-text
        text-decoration none
        
      &.selected
        border-bottom 2px solid color-requests 
        a {color: darken(color-grey-text, 30)}
      

#dashboard
  margin-top 15px
  
  .tiles
    display flex
    justify-content flex-end 
    
    .tile
      &:not(:first-child)
        margin-left 15px

  .graph-container
    margin-top 35px
    padding 15px
    border 1px solid color-grey-line

  .box
    margin-top 25px

  table
    border-spacing: 10px

    th
      font-weight bold
      text-transform uppercase
      color lighten(color-grey-text, 10)
      text-align: left;

    .between
      color darken(color-grey-text, 10)

  .item
    font-size 14px

    .token
      font-size 12px
      i {font-size: 16px}
      border-radius: 4px

    span
      margin-right 5px
      margin-left 5px



// Browser
.records
  .document
    margin-bottom 15px
    border 1px solid color-grey-line
    border-radius 3px
    
  .item
    margin 10px 
    margin-left 25px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    
    &.collapsed
      .children
        display inline-block
        vertical-align bottom
      
      .item
        display inline-block
        vertical-align bottom
        max-width 150px 
        margin 0
        
        .expander
          display none
  
  .type
    padding 5px
    border-radius 5px
    color white
    font-size 10px
    margin-right 5px
    min-width 15px
    display inline-block
    text-align center
    letter-spacing 0.5px
    
  .name
    margin-right 5px
    
  .expander
    vertical-align middle 
    margin-right 10px
    
  .invisible
    visibility hidden 