{
    "rules": {
        "no-console": [ 0 ],
        "comma-dangle": [ 2, "always-multiline" ],
        "indent": [ 0, 2 ],
        "quotes": [ 2, "single" ],
        "linebreak-style": [ 2, "unix" ],
        "semi": [ 2, "always" ],
        "curly": [ 2, "all" ],
        "eqeqeq": [ 2 ],
        "dot-notation": [ 2 ],
        "no-case-declarations": [ 2 ],
        "strict": [ 2, "global" ],
        "arrow-parens": [ 2, "always" ],
        "arrow-spacing": [ 2 ],
        "constructor-super": [ 2 ],
        "no-arrow-condition": [ 2 ],
        "no-class-assign": [ 2 ],
        "no-const-assign": [ 2 ],
        "no-dupe-class-members": [ 2 ],
        "no-this-before-super": [ 2 ],
    },
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "eslint:recommended"
}
