.fadeIn
  animation-name fadeIn
  animation-duration 1s

.fadeOut
  animation-name fadeOut
  animation-duration 1s

@keyframes fadeOut
  0% {opacity: 1}
  100% {opacity: 0}

@keyframes fadeIn
  0% {opacity: 0}
  100% {opacity: 1}

.animate-text-update
  animation-name animateTextUpdate
  animation-duration 0.3s

@keyframes animateTextUpdate
  0% {transform: translate(0, 0)}
  50% {transform: translate(0, -5px)}
  100% {transform: translate(0, 0)}