

.epoch
  margin-left -30px
  height 300px

  canvas
    height 300px

  .category1
    .line {stroke: color-clients}

  .category2
    .line {stroke: color-requests}

  .axis
    font-weight 100
    stroke: color-grey
    line {display: none}
    path {display: none}